Для выполнения заданий возьмите данные из папки [data](https://drive.google.com/drive/folders/17E4vB5kWr5FNjLKRU4XGoJSVTxn1jkg4?usp=sharing) о продажах. Данные распределены по 4 папкам:
* sales_train.csv - данные о продажах с января 2013 по октябрь 2015.
** date - дата продажы
** date_block_num - номер месяца по порядку следования
** shop_id - идентификатор магазина
** item_id - идентификатор товара
** item_price - цена товара
** item_cnt_day - количество проданного товара одного вида в день

* items.csv - подробная информация о товарах
** item_id - идентификатор товара
** item_name - название товара
** category_id - идентификатор категории товара

* item_categories.csv - подробная информация о категориях товаров
** item_category_id - идентификатор категории товара
** category_name - название категории товара

* shops.csv - подробная информация о магазинах
** shop_id - идентификатор магазина
** shop_name - название магазина

# Задание 1

1. Найдите топ-10 самых часто покупаемых товаров (не забудьте учесть столбец item_cnt_day).
2. Оставьте только те из них, которые покупали все три года (2013, 2014, 2015).

In [ ]:
#пункт 1
sales_train<-read.csv("sales_train.csv", header = TRUE)
sales_train<-sales_train[c("item_id", "item_cnt_day")]
top_10<-aggregate(sales_train$item_cnt_day, by=list(sales_train$item_id), FUN=sum)
head(top_10[order(top_10$x, decreasing=TRUE),],n=10)

      Group.1 x
20603 20949   187642
2750   2808    17245
3655   3732    16642
17419 17717    15830
5718   5822    14515
3657   3734    11688
6544   6675    10289
3654   3731    10099
1815   1855    10032
16494 16787     9227

In [ ]:
#пункт 2
library(dplyr)

sales_train<-read.csv("sales_train.csv", header = TRUE)
sales_train<-sales_train[c("item_id", "date_block_num","item_cnt_day")]
sales_train<-sales_train %>% mutate (y2013=if_else(date_block_num <= 11,1,0))
sales_train<-sales_train %>% mutate (y2014=if_else(date_block_num >= 12 & date_block_num<=23,1,0))
sales_train<-sales_train %>% mutate (y2015=if_else(date_block_num >= 24 & date_block_num<=33,1,0))

df<-aggregate(sales_train[c("item_cnt_day","y2013","y2014","y2015")], by=list(sales_train$item_id), FUN=sum)

df_sort<-df[order(df$item_cnt_day, decreasing=TRUE),]

df_sort<-head(df_sort,n=10)

df_result<-df_sort[df_sort$y2013!=0 & df_sort$y2014!=0 & df_sort$y2015!=0,]
df_result<-df_result[c("Group.1","item_cnt_day")]
colnames(df_result) <- c("item_id","item_cnt_day")
df_result

      item_id item_cnt_day
20603 20949   187642
2750   2808    17245
3655   3732    16642
17419 17717    15830
5718   5822    14515
3657   3734    11688
6544   6675    10289
1815   1855    10032
16494 16787     9227

# Задание 2

> При выполнении на pandas не используйте merge().

1. Определите категорию товаров, в которой совершается минимальное число покупок. Выведите айди и название категории.
2. Определите категорию товаров, в которой совершается максимальное число покупок. Выведите айди и название категории.

In [ ]:
#пункт 1 min
library(dplyr)
items<-read.csv("items.csv", header = TRUE)
item_categories<-read.csv("item_categories.csv", header = TRUE)

table_1<-merge(x=sales_train,y=items,by=c("item_id"))

table_2<-aggregate(table_1$item_cnt_day, by=list(table_1$category_id), FUN=sum)
colnames(table_2) <- c("category_id","item_cnt_day")



min<-min(table_2$item_cnt_day)
table_3<-table_2[table_2$item_cnt_day == min,]

table_4<-merge(x=table_3,y=item_categories,by.x="category_id",by.y="item_category_id")
table_4[c(1,3)]
# table_sort<-table_2[order(table_2$item_cnt_day, decreasing=FALSE),]
# table_sort_min<-head(table_sort,n=2)
# table_min<-merge(x=table_sort_min,y=item_categories, by.x=("category_id"),by.y=("item_category_id"))
# table_min[c(1,3)]

  category_id item_category_name
1 10           Game consoles - PS2
2 51           Books - Cognitive literature

In [ ]:
#пункт 2 max
library(dplyr)
items<-read.csv("items.csv", header = TRUE)
item_categories<-read.csv("item_categories.csv", header = TRUE)

table_1<-merge(x=sales_train,y=items,by=c("item_id"))

table_2<-aggregate(table_1$item_cnt_day, by=list(table_1$category_id), FUN=sum)
colnames(table_2) <- c("category_id","item_cnt_day")

max<-max(table_2$item_cnt_day)
table_3<-table_2[table_2$item_cnt_day == max,]

table_4<-merge(x=table_3,y=item_categories,by.x="category_id",by.y="item_category_id")
table_4[c(1,3)]

# table_sort<-table_2[order(table_2$item_cnt_day, decreasing=TRUE),]
# table_sort_max<-head(table_sort,n=1)
# table_max<-merge(x=table_sort_max,y=item_categories, by.x=("category_id"),by.y=("item_category_id"))
# table_max[c(1,3)]

  category_id item_category_name
1 40           Cinema - DVD

# Задание 3

1. Для категорий из задания 2 найдите среднее количество продаж каждого товара категории в 5 магазинах с наибольшими продажами.
2. Найдите месяцы с минимальными и максимальными продажами для каждого товара из пункта 1.

In [ ]:
#пункт 1, категория 40
library(dplyr)
sales_train<-read.csv("sales_train.csv", header = TRUE)
items<-read.csv("items.csv", header = TRUE)
item_categories<-read.csv("item_categories.csv", header = TRUE)

sales_train_1<-merge(x=sales_train,y=items,all.x=TRUE)
#найдём топ-5 магазинов
shop_top<-aggregate(sales_train$item_cnt_day, by=list(sales_train$shop_id), FUN=sum)
colnames(shop_top) <- c("shop_id","item_cnt_day")

shop_top_5<-head(shop_top[order(shop_top$item_cnt_day,decreasing=TRUE),],n=5)
#оставим только записи из топ-5 магазинов и нужную категорию
shop_table<-filter(sales_train_1,shop_id==31 | shop_id==25 | shop_id==54 | shop_id==28 | shop_id==42)
shop_table_stat<-filter(shop_table,category_id==40)


shop_table_mean<-aggregate(shop_table_stat$item_cnt_day, by=list(shop_table_stat$item_id), FUN=mean)
colnames(shop_table_mean) <- c("item_id","item_cnt_day")
shop_table_mean

     item_id item_cnt_day
1     0      1.000000
2     2      1.000000
3     3      1.000000
4     4      1.000000
5     5      1.000000
6     6      1.000000
7     7      1.000000
8     8      1.000000
9     9      1.000000
10   10      1.000000
11   11      1.000000
12   13      1.000000
13   14      1.000000
14   15      1.000000
15   18      1.000000
16   19      1.000000
17   20      1.000000
18   21      1.000000
19   22      1.000000
20   23      1.000000
21   24      1.000000
22   25      1.000000
23   26      1.000000
24   30      1.869565
25   32      1.241431
26   34      1.000000
27   35      1.428571
28   37      1.000000
29   43      1.000000
30   63      1.000000
⋮    ⋮       ⋮
4685 22075   1.000000
4686 22108   1.000000
4687 22114   1.025641
4688 22116   1.000000
4689 22119   1.031250
4690 22120   1.000000
4691 22121   1.415385
4692 22123   1.000000
4693 22124   1.000000
4694 22126   1.328767
4695 22128   1.000000
4696 22129   1.000000
4697 22130   1.455556
4698 22132   1.022727
4699 22133   1.000000
4700 22134   1.377778
4701 22136   1.000000
4702 22141   1.148148
4703 22143   1.644578
4704 22147   1.000000
4705 22148   1.000000
4706 22149   1.000000
4707 22151   1.540000
4708 22152   1.000000
4709 22156   1.000000
4710 22157   1.000000
4711 22159   1.142857
4712 22160   1.000000
4713 22162   1.481283
4714 22163   1.114286

In [ ]:
#пункт 1, категория 10
library(dplyr)
sales_train<-read.csv("sales_train.csv", header = TRUE)
items<-read.csv("items.csv", header = TRUE)
item_categories<-read.csv("item_categories.csv", header = TRUE)

sales_train_1<-merge(x=sales_train,y=items,all.x=TRUE)
#найдём топ-5 магазинов
shop_top<-aggregate(sales_train$item_cnt_day, by=list(sales_train$shop_id), FUN=sum)
colnames(shop_top) <- c("shop_id","item_cnt_day")

shop_top_5<-head(shop_top[order(shop_top$item_cnt_day,decreasing=TRUE),],n=5)
#оставим только записи из топ-5 магазинов и нужную категорию
shop_table<-filter(sales_train_1,shop_id==31 | shop_id==25 | shop_id==54 | shop_id==28 | shop_id==42)
shop_table_stat<-filter(shop_table,category_id==10)

shop_table_stat

# shop_table_mean<-aggregate(shop_table_stat$item_cnt_day, by=list(shop_table_stat$item_id), FUN=mean)
# colnames(shop_table_mean) <- c("item_id","item_cnt_day")
# shop_table_mean

     item_id date date_block_num shop_id item_price item_cnt_day item_name
     category_id

In [ ]:
#пункт 1, категория 51
library(dplyr)
sales_train<-read.csv("sales_train.csv", header = TRUE)
items<-read.csv("items.csv", header = TRUE)
item_categories<-read.csv("item_categories.csv", header = TRUE)

sales_train_1<-merge(x=sales_train,y=items,all.x=TRUE)
#найдём топ-5 магазинов
shop_top<-aggregate(sales_train$item_cnt_day, by=list(sales_train$shop_id), FUN=sum)
colnames(shop_top) <- c("shop_id","item_cnt_day")
shop_top_5<-head(shop_top[order(shop_top$item_cnt_day,decreasing=TRUE),],n=5)

#оставим только записи из топ-5 магазинов и нужную категорию
shop_table<-filter(sales_train_1,shop_id==31 | shop_id==25 | shop_id==54 | shop_id==28 | shop_id==42)
shop_table_stat<-filter(shop_table,category_id==51)
shop_table_stat

# shop_table_mean<-aggregate(shop_table_stat$item_cnt_day, by=list(shop_table_stat$item_id), FUN=mean)
# colnames(shop_table_mean) <- c("item_id","item_cnt_day")
# shop_table_mean

     item_id date date_block_num shop_id item_price item_cnt_day item_name
     category_id

In [ ]:
#пункт 2 min
sales_train_1<-merge(x=sales_train,y=items,all.x=TRUE)
#найдём топ-5 магазинов
shop_top<-aggregate(sales_train$item_cnt_day, by=list(sales_train$shop_id), FUN=sum)
colnames(shop_top) <- c("shop_id","item_cnt_day")
shop_top_5<-head(shop_top[order(shop_top$item_cnt_day,decreasing=TRUE),],n=5)
#оставляем только нужные записи (топ-5 магазинов и категории)
shop_table<-filter(sales_train_1,shop_id==31 | shop_id==25 | shop_id==54 | shop_id==28 | shop_id==42)
shop_table_stat<-filter(shop_table,category_id==51|category_id==10|category_id==40)

shop_table_min<-aggregate(shop_table_stat$date_block_num, by=list(shop_table_stat$item_id), FUN=min)
colnames(shop_table_min) <- c("item_id","date_block_num")
shop_table_min

     item_id date_block_num
1     0      20
2     2      19
3     3      18
4     4      20
5     5      23
6     6      18
7     7      23
8     8      19
9     9      19
10   10      24
11   11      22
12   13      20
13   14      23
14   15      22
15   18      19
16   19       0
17   20      19
18   21      20
19   22      27
20   23      25
21   24      27
22   25      19
23   26      21
24   30       1
25   32       0
26   34       0
27   35       0
28   37       2
29   43       0
30   63       2
⋮    ⋮       ⋮
4685 22075    0
4686 22108    2
4687 22114    3
4688 22116    2
4689 22119    1
4690 22120    3
4691 22121    6
4692 22123    9
4693 22124    0
4694 22126    9
4695 22128    0
4696 22129    0
4697 22130    0
4698 22132    2
4699 22133   13
4700 22134    0
4701 22136    2
4702 22141   13
4703 22143   14
4704 22147    0
4705 22148    6
4706 22149    0
4707 22151    0
4708 22152    2
4709 22156    4
4710 22157    4
4711 22159   28
4712 22160    0
4713 22162   25
4714 22163   31

In [ ]:
#пункт 2 max
sales_train_1<-merge(x=sales_train,y=items,all.x=TRUE)
#найдём топ-5 магазинов
shop_top<-aggregate(sales_train$item_cnt_day, by=list(sales_train$shop_id), FUN=sum)
colnames(shop_top) <- c("shop_id","item_cnt_day")
shop_top_5<-head(shop_top[order(shop_top$item_cnt_day,decreasing=TRUE),],n=5)
#оставляем только нужные записи (топ-5 магазинов и категории)
shop_table<-filter(sales_train_1,shop_id==31 | shop_id==25 | shop_id==54 | shop_id==28 | shop_id==42)
shop_table_stat<-filter(shop_table,category_id==51|category_id==10|category_id==40)

shop_table_max<-aggregate(shop_table_stat$date_block_num, by=list(shop_table_stat$item_id), FUN=max)
colnames(shop_table_max) <- c("item_id","date_block_num")
shop_table_max

     item_id date_block_num
1     0      20
2     2      22
3     3      19
4     4      20
5     5      23
6     6      18
7     7      23
8     8      20
9     9      19
10   10      24
11   11      22
12   13      20
13   14      23
14   15      22
15   18      19
16   19       0
17   20      19
18   21      20
19   22      27
20   23      25
21   24      27
22   25      19
23   26      21
24   30      33
25   32      33
26   34      18
27   35      14
28   37      20
29   43       7
30   63       4
⋮    ⋮       ⋮
4685 22075   11
4686 22108    6
4687 22114   25
4688 22116   11
4689 22119   21
4690 22120   22
4691 22121   10
4692 22123   17
4693 22124    3
4694 22126   19
4695 22128   10
4696 22129    7
4697 22130    2
4698 22132   16
4699 22133   26
4700 22134   14
4701 22136   17
4702 22141   16
4703 22143   22
4704 22147   11
4705 22148    6
4706 22149   11
4707 22151    4
4708 22152   13
4709 22156   12
4710 22157    5
4711 22159   29
4712 22160    8
4713 22162   33
4714 22163   33

In [ ]:
# sales_train %>% group_by(shop_id) %>% tally()
# shop_top<-sales_train %>% group_by(shop_id) %>% summarise(item_cnt_day = n())
# shop_top

#  df_2<-df_1[order(df_1$x, decreasing=TRUE),]

# Задание 4

1. Для категорий из задания 2 найдите среднюю и медианную цену по категории в пределах каждого месяца.
2. В каждом году найдите месяцы, в которых средняя цена меньше, чем в предыдущем и следующем месяце.

In [ ]:
#пункт 1 категория 40
library(dplyr)
sales_train<-read.csv("sales_train.csv", header = TRUE)
items<-read.csv("items.csv", header = TRUE)
item_categories<-read.csv("item_categories.csv", header = TRUE)

table<-merge(x=sales_train,y=items,all.x=TRUE)
table<-filter(sales_train_1,category_id==40)

table_mean<-aggregate(table$item_price, by=list(table$date_block_num), FUN=mean)
colnames(table_mean) <- c("date_block_num","mean_price")

table_median<-aggregate(table$item_price, by=list(table$date_block_num), FUN=median)
colnames(table_median) <- c("date_block_num","median_price")

table<-merge(x=table_mean, y=table_median,by=c("date_block_num"))
table

   date_block_num mean_price median_price
1   0             244.4859   199.00
2   1             252.1749   203.00
3   2             260.6450   231.00
4   3             254.8524   199.00
5   4             247.6276   199.00
6   5             245.8609   199.00
7   6             236.8121   149.00
8   7             234.4702   149.00
9   8             241.8186   198.00
10  9             247.5439   199.00
11 10             253.2127   199.00
12 11             257.7663   237.00
13 12             252.9098   199.00
14 13             261.2565   248.00
15 14             262.4360   251.00
16 15             268.4081   249.00
17 16             254.3645   199.00
18 17             255.1581   199.00
19 18             257.3948   199.00
20 19             264.0901   199.00
21 20             265.3885   240.00
22 21             263.7517   199.00
23 22             264.0330   199.00
24 23             261.9187   199.00
25 24             263.2980   200.78
26 25             256.3624   199.00
27 26             258.1940   169.00
28 27             281.6307   299.00
29 28             286.5086   299.00
30 29             279.1423   249.00
31 30             273.2515   199.00
32 31             273.2421   249.00
33 32             279.3937   249.00
34 33             281.0002   249.00

In [ ]:
#пункт 1 категория 10
library(dplyr)
sales_train<-read.csv("sales_train.csv", header = TRUE)
items<-read.csv("items.csv", header = TRUE)
item_categories<-read.csv("item_categories.csv", header = TRUE)

table<-merge(x=sales_train,y=items,all.x=TRUE)
table<-filter(sales_train_1,category_id==10)

table_mean<-aggregate(table$item_price, by=list(table$date_block_num), FUN=mean)
colnames(table_mean) <- c("date_block_num","mean_price")

table_median<-aggregate(table$item_price, by=list(table$date_block_num), FUN=median)
colnames(table_median) <- c("date_block_num","median_price")

table<-merge(x=table_mean, y=table_median,by=c("date_block_num"))
table

  date_block_num mean_price median_price
1 3              1998       1998

In [ ]:
#пункт 1 категория 51
library(dplyr)
sales_train<-read.csv("sales_train.csv", header = TRUE)
items<-read.csv("items.csv", header = TRUE)
item_categories<-read.csv("item_categories.csv", header = TRUE)

table<-merge(x=sales_train,y=items,all.x=TRUE)
table<-filter(sales_train_1,category_id==51)

table_mean<-aggregate(table$item_price, by=list(table$date_block_num), FUN=mean)
colnames(table_mean) <- c("date_block_num","mean_price")

table_median<-aggregate(table$item_price, by=list(table$date_block_num), FUN=median)
colnames(table_median) <- c("date_block_num","median_price")

table<-merge(x=table_mean, y=table_median,by=c("date_block_num"))
table

  date_block_num mean_price median_price
1 18             129        129

In [ ]:
#пункт 2
library(dplyr)
sales_train<-read.csv("sales_train.csv", header = TRUE)
items<-read.csv("items.csv", header = TRUE)

df<-merge(x=sales_train,y=items,all.x=TRUE)
df<-filter(df,category_id==40)

#разделим записи по годам
df<-df %>% mutate (y2013=if_else(date_block_num <= 11,1,0))
df_2013<-df[df$y2013==1,]
df_2013<-df_2013[c("date_block_num","item_id","item_price","category_id")]


df<-df %>% mutate (y2014=if_else(date_block_num >= 12 & date_block_num<=23,1,0))
df_2014<-df[df$y2014==1,]
df_2014<-df_2014[c("date_block_num","item_id","item_price","category_id")]


df<-df %>% mutate (y2015=if_else(date_block_num >= 24 & date_block_num<=33,1,0))
df_2015<-df[df$y2015==1,]
df_2015<-df_2015[c("date_block_num","item_id","item_price","category_id")]

In [ ]:
#рассмотрим 2013 год

df_2013_1<-aggregate(df_2013$item_price, by=list(df_2013$date_block_num), FUN=mean)
colnames(df_2013_1) <- c("date_block_num","item_price_mean")

for(i in 2:length(df_2013_1$item_price_mean)){df_2013_1$test[i]=ifelse(df_2013_1$item_price_mean[i] < df_2013_1$item_price_mean[i-1] & df_2013_1$item_price_mean[i] < df_2013_1$item_price_mean[i+1], print(df_2013_1$date_block_num[i]),NaN)}

[1] 7

In [ ]:
#рассмотрим 2014 год

df_2014_1<-aggregate(df_2014$item_price, by=list(df_2014$date_block_num), FUN=mean)
colnames(df_2014_1) <- c("date_block_num","item_price_mean")

for(i in 2:length(df_2014_1$item_price_mean)){df_2014_1$test[i]=ifelse(df_2014_1$item_price_mean[i] < df_2014_1$item_price_mean[i-1] & df_2014_1$item_price_mean[i] < df_2014_1$item_price_mean[i+1], print(df_2014_1$date_block_num[i]),NaN)}

[1] 16
[1] 21

In [ ]:
#рассмотрим 2015 год

df_2015_1<-aggregate(df_2015$item_price, by=list(df_2015$date_block_num), FUN=mean)
colnames(df_2015_1) <- c("date_block_num","item_price_mean")

for(i in 2:length(df_2015_1$item_price_mean)){df_2015_1$test[i]=ifelse(df_2015_1$item_price_mean[i] < df_2015_1$item_price_mean[i-1] & df_2015_1$item_price_mean[i] < df_2015_1$item_price_mean[i+1], print(df_2015_1$date_block_num[i]),NaN)}

[1] 25
[1] 31